[rabbitmq]
name=rabbitmq
baseurl={{ rabbitmq_rpm_repo_url }}/v{{ rabbitmq_series }}.x/el/{{ ansible_distribution_major_version }}
repo_gpgcheck=0
gpgcheck=1
enabled=1
gpgkey={{ rabbitmq_rpm_gpg_url }}
